*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
    color: #fff;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close__icon{
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    width: 15px;
    cursor: pointer;
}

.refresh__icon{
    position: fixed;
    top: 0;
    right: 0;
    margin: 22px 50px;
    width: 18px;
    cursor: pointer;
}

.main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-width: 800px;
    column-gap: 80px;
}

.main__content-left, .main__content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.search__text{
    font-size: 32px;
    color: #9aa0a6;
}

.figure__img{
    background-color: #ea4335;
    padding: 20px 35px;
    border-radius: 50%;
    animation: microfono 500ms linear infinite alternate;
}

.right-img{
    width: 65px;
}

@keyframes microfono {
    0%{
        box-shadow: 0px 0px 0px 30px #5f6368;
    }
    50%{
        box-shadow: 0px 0px 0px 25px #5f6368;
    }
    100%{
        box-shadow: 0px 0px 0px 20px #5f6368;
    }
}

@media (max-width: 600px){
    .main__content{
        flex-direction: column;
        height: 100vh;
        column-gap: 0px;
        row-gap: 80px;
    }
    .search__text{
        font-size: 27px;
    }
    .right-img{
        width: 50px;
    }
}